<% if(theme.local_search.enable) { %>
  <span class="local-search local-search-google local-search-plugin" style="<%- theme.local_search.location %>;position:absolute;z-index:2;">
      <input type="search" placeholder="站内搜索" id="local-search-input" class="local-search-input-cls" style="<%- theme.local_search.facade %>">
      <i class='input-icon' id='local-search-close'>✖</i>
      <i class='input-icon iconfont'>&#xe627;</i>
      <!-- <div id="local-search-result" class="local-search-result-cls"></div> -->
  </span>
<% } %>